---
layout: end
---

<h2>Questions ?</h2>

<p class="legal">
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Licence Creative Commons BY-NC-SA" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
    </a>
    by
    <a rel="author external" href="https://wheretofind.me/@pinage404">
        <img alt="pinage404" src="https://s.gravatar.com/avatar/0a7d96df27d5d020cb0d03340e734180?s=40" />
    </a>
    on
    <a rel="alternate" href="https://gitlab.com/pinage404/direnv_nix">
        <img alt="GitLab" src="https://img.shields.io/gitlab/stars/pinage404/direnv_nix?style=social" />
    </a>
</p>

<style>
.legal {
    a {
        display: inline-block;
        border-bottom-width: 0;
    }

    img {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
}
</style>
